<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ashishandroid.ashishkumar.try1">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.microphone" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <activity android:name=".ChatActivityHistorychat" />
        <activity android:name=".userslistcall" />
        <activity android:name=".CallHistory" />
        <activity android:name=".AstrologerCallActivity" />
        <activity android:name=".WalletHistory" />
        <activity android:name=".WalletActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".ChatHistory" />
        <activity android:name=".query" />
        <activity android:name=".Profilepagelist" />
        <activity android:name=".Offers" />
        <activity android:name=".TermsAndCondition" />
        <activity android:name=".Updatemobileno" />
        <activity android:name=".Profile" />
        <activity android:name=".StatusActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".userslist" />
        <activity
            android:name=".SettingsFragment"
            android:parentActivityName=".DashboardActivity" />
        <activity android:name=".SplashScreenActivity">

        </activity>
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".DashboardActivity" />

        <service
            android:name=".FirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>